*{
    font-family: Times New Roman;

}

html, body {
    overflow-x: hidden;
}

:root{
    --firstcolor:#ecf2fb;
    --secondcolor:#6bb879;
    --thirdcolor:#fd7e14;
}

body{

    overflow-x:hidden;
    
}

.navbar{
    background-color: aliceblue;
}

/* header  */

.header{
    max-height: 500px;
    width:100%;
    position:relative;
}
.header img{
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    left: 0;
    object-fit: cover;
    z-index: -2;
}

 .overlay{
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    left: 0;
    object-fit: cover;
    mix-blend-mode:overlay;
    z-index:-1;
} 
.header .p{
    font-size: 3rem; 
    width: 310px; 
    font-family: Britannic Bold;}

.header .p1{
    font-size: 3rem; 
    width: 420px; 
    font-family: Britannic Bold;}

    

.move{
        padding-top:200px ;
}

/* about  */

.menu-list{
    text-align:center;
    margin-top: 20px;
}

.c-size{
    width:290x;
    
}

.heading-ling{
    width: 120px;
    height: 2px;
    background-color: var(--fifth-color);
    margin: 10px auto;

}

.accordion .accordion-button:not(.collaps){
    background-color: var(--firstcolor);
    color: var(--third-color);
}

.accordion .accordion-button:not(.collapsed){
    background-color: var(--secondcolor);
    color: var(--third-color);
}

.font-size-fix span{
    font-size: 21px;
}



/* Default desktop hexagon */
.hexagon {
  width: 100px;
  height: 55px;
  background-color: #ad7715;
  position: relative;
  margin: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-transform: uppercase;
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon::before {
  bottom: 100%;
  border-bottom: 27.5px solid #ad7715;
}

.hexagon::after {
  top: 100%;
  border-top: 27.5px solid #ad7715;
}

.hexagon-inner {
  position: relative;
  z-index: 2;
}

/* Responsive for mobile screens */
@media (max-width: 576px) {
  .header .p{font-size: 20px; width: 160px; }
    .header .p1{font-size: 20px; width: 200px;}
    .font-size-fix span{
        font-size: 17px;
    }

  .hexagon {
    width: 40px;        /* tiny width */
    height: 22px;       /* tiny height */
    margin: 3px;        /* very tight spacing */
    font-size: 7px;     /* smaller text */
  }

  .hexagon::before {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 11px solid #ad7715;
  }

  .hexagon::after {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 11px solid #ad7715;
  }
}

/* Tablet view: 577px to 768px */
@media (max-width: 768px) and (min-width: 577px) {

  .header .p{font-size: 40px; width: 250px; }
    .header .p1{font-size: 40px; width: 350px;}
    .font-size-fix span{
        font-size: 17px;
    }

  .hexagon {
    width: 70px;
    height: 38.5px;
    margin: 10px;
    font-size: 10px;
  }

  .hexagon::before {
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 19.25px solid #ad7715;
  }

  .hexagon::after {
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 19.25px solid #ad7715;
  }
}


